.App {
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px 0;
    font-family: sans-serif;
  }
  
  .out-container {
    width: 80%;
    margin: auto;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
  }
  
  .graph-div {
    width: 80%;
    margin: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .App {
      width: 100%;
      display: block;
      margin: auto;
      padding: 20px 0;
    }
    .container {
      font-family: sans-serif;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    .graph-div {
      margin: 0;
      width: 100%;
    }
  }